* {
    box-sizing: border-box;
}

body {
    /*    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/low_contrast_linen.png");*/
    background: #262626;
    /*    background: #9FD846;*/
    color: #fff;
    font-family: 'Alef', sans-serif;
    padding: 5px 10px;
}

h1 {
    color: #9FD846;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-weight: 400;
}

section {
    margin: 15px 0;
}

.button-default,
select,
option {
    border: 0 none transparent;
    font-family: 'Alef', sans-serif;
    font-size: 16px;
}

.button-default,
.button-default .fa-refresh {
    background: #9FD846;
    color: #000;
}

.button-default:hover,
.button-default:hover .fa-refresh {
    background: #00A6D4;
    color: #fff;
}

.button-default:active {
    background: #0084A8;
}

.fa-refresh {
    color: #000;
    font-size: 16px
}

.fa-clock {
    color: #fff;
}

.fa-star,
.fa-star-o {
    color: #ffd900;
    font-size: 16px;
    padding: 0 3px 0 0;
}

.fa-star {
    color: #ffd900;
}

#deck {
    /*    background: #8B3926;*/
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/low_contrast_linen.png");
    border-radius: 5px;
    display: inline-block;
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
}

.card .fa {
    color: #000;
    font-size: 60px;
}

.card {
    border-radius: 3px;
    float: left;
    height: 100px;
    overflow: auto;
    margin: 15px;
    position: relative;
    width: 100px;
}

.card-front,
.card-back {
    border-radius: 3px;
    height: 100px;
    padding: 20px;
    position: absolute;
    width: 100px;
}

.card-front {
    background: #f7ffea;
    display: none;
}

.card-back {
    background: linear-gradient(30deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(150deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(30deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(150deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(60deg, #41581D 25%, transparent 25.5%, transparent 75%, #41581D 75%, #41581D 0), linear-gradient(60deg, #41581D 25%, transparent 25.5%, transparent 75%, #41581D 75%, #41581D 0), #BEDE8B;
    background-position: 0 0, 0 0, 8px 14px, 8px 14px, 0 0, 8px 14px;
    background-size: 16px 28px;
    border: 3px solid #eefcd9;
}

#scoreBoard {
    display: flex;
    justify-content: space-between;
}

#timer {
    font-family: 'Droid Sans Mono';
}

#timer:before {
    content: '\f017';
    font-family: 'Fontawesome';
    margin: 0 5px 00;
}

#moves:before {
    content: '\f080';
    font-family: 'Fontawesome';
    margin: 0 5px 00;
}
