* {
    box-sizing: border-box;
}

body {
    background: #262626;
    color: #fff;
    font-family: 'Alef', sans-serif;
    padding: 5px 10px;
}

h1 {
    color: #9FD846;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-weight: 400;
}

section {
    margin: 15px 0;
}

.button-default,
select,
option {
    border: 0 none transparent;
    font-family: 'Alef', sans-serif;
    font-size: 16px;
    padding: 1px 5px;
    margin: 0 20px 0 0;
}

.button-default {
    background: #9FD846;
    color: #000;
    padding: 2px 15px;
}

.button-default:hover,
.button-default:hover .fa-refresh {
    background: #00A6D4;
    color: #fff;
}

.button-default:active {
    background: #0084A8;
}

.fa-refresh {
    color: #000;
    font-size: 16px
}

.fa-clock {
    color: #fff;
}

.fa-star,
.fa-star-o {
    color: #ffd900;
    font-size: 16px;
    padding: 0 3px 0 0;
}

#rating i {
    color: #ffd900;
}

main {
    /*    background: #8B3926;*/
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/low_contrast_linen.png");
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 20px;
}
#deck {
    display: flex;
    flex-wrap: wrap;
}

.card .fa {
    color: #A53C25;
    font-size: 60px;
}

.card {
    border-radius: 3px;
    height: 100px;
    margin: 15px;
    width: 100px;
}

.card-front,
.card-back {
    /*    backface-visibility: hidden;*/
    border-radius: 3px;
    height: 100px;
    padding: 20px 10px 10px 10px;
    position: absolute;
    text-align: center;
    width: 100px;
}

.card-front {
    backface-visibility: hidden;
    background: #f7ffea;
    transform: rotateY(-180deg);
}

.turned .card-back {
    transform: rotateY(180deg);
    transition: transform 1.5s cubic-bezier(0, .75, .25, 1);
}

.turned .card-front {
    transform: rotateY(0deg);
    transition: transform 1.5s cubic-bezier(0, .75, .25, 1);
}

.card-back {
    backface-visibility: hidden;
    background: linear-gradient(30deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(150deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(30deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(150deg, #79A535 12%, transparent 12.5%, transparent 87%, #79A535 87.5%, #79A535 0), linear-gradient(60deg, #41581D 25%, transparent 25.5%, transparent 75%, #41581D 75%, #41581D 0), linear-gradient(60deg, #41581D 25%, transparent 25.5%, transparent 75%, #41581D 75%, #41581D 0), #BEDE8B;
    background-position: 0 0, 0 0, 8px 14px, 8px 14px, 0 0, 8px 14px;
    background-size: 16px 28px;
    border: 3px solid #eefcd9;
}

#scoreBoard {
    display: flex;
    justify-content: space-around;
}

#timer,
#moves,
#rating {
    min-width: 100px;
    text-align: center;
}

#timer,
#moves {
    font-family: 'Droid Sans Mono';
}

#rating:before {
    content:'Rating: ';
    font-family: 'Alef', sans-serif;
}

#timer:before {
    content: '\f252';
/*    content: '\f017';*/
    font-family: 'Fontawesome';
    margin: 0 5px 0 0;
}

#moves:before {
    content: '\f080';
    font-family: 'Fontawesome';
    margin: 0 5px 0 0;
}

#moves:after {
    content: 'moves';
    margin: 0 0 0 5px;
}

.turned {
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(0, .75, .25, 1);
}

.flip-back {
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(0, .75, .25, 1);
    transform: rotateY(180deg);
}

.wrong-card .card-front {
    -webkit-animation: wrongCard 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: wrongCard 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    background: #e02828;
}

.wrong-card .fa {
    color: #fff;
}

.matched-card .card-front {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background: #c4dd9d;
}

.matched-card .fa {
    color: #3c6300;
}

@-webkit-keyframes wrongCard {
    10%,
    90% {
        transform: translate3d(-3px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(4px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-6px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(6px, 0, 0);
    }
}
@keyframes wrongCard {
    10%,
    90% {
        transform: translate3d(-3px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(4px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-6px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(6px, 0, 0);
    }
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media handheld {
    h1 {
        font-size: 80px;
    }

    .button-default,
    select,
    option,
    .fa-refresh,
    .fa-star,
    .fa-star-o {
        font-size: 36px;
    }

}
